nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1 span {
  color: #cc59bd;
}

nav a,
a:visited {
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
}

@media (min-width: 851px) {
  .logo {
    margin: 2rem 7rem;
  }
}

/* If the screen size is 850px wide or less */
@media (max-width: 850px) {
  .logo {
    margin: 2rem 0rem 2rem 2rem;
  }
}
