nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-count {
  background-color: rgb(255, 0, 0);
  color: white;
  border-radius: 50%;
  width: 1rem;
  vertical-align: middle;
  text-align: center;
  font-size: 0.6rem;
  margin-bottom: 1rem;
  margin-left: 0.2rem;
}

.hide-count {
  display: none;
}

.logo h1 span {
  color: #cc59bd;
}

footer {
  height: 10rem;
  width: 100%;
}

nav a,
a:visited {
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
}

@media (min-width: 851px) {
  .logo {
    margin: 2rem 7rem;
  }
}

/* If the screen size is 850px wide or less */
@media (max-width: 850px) {
  .logo {
    margin: 2rem 0rem 2rem 2rem;
  }
}
